.content{
    height: fit-content;
    width: 50%;
    padding: 20px 20px;
    background-color: #dde7f1;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    border-radius: 5px;
    
}
#btn{
  font-size: 18px;
  border: none;
  font-weight: 600;
  background-color:blue ;
  color: white;  
  padding: 15px 15px;
  border-radius: 5px;
  
}
#secret-p{
    background-color: #4b4bd8;
    padding: 15px 35px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}
a {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  padding: 5px 5px;
  border-radius: 35px;
  border: 2.5px solid #4b4bd8;

}

.link {
  color: #4b4bd8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}